<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<html>
<head></head>
<body>
    <f:section name="body">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="underlined-title">
							<h1>{content.title -> f:format.raw()}</h1>
							<hr>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{content.image -> f:format.raw()}
						<div class="meta">
							<f:if condition="{content.author}">
								<span>Von {content.author}</span>
							</f:if>
							<f:if condition="{content.datePublished}">
								<span>:: ver&ouml;ffentlicht am <f:format.date format="d.m.Y">{content.datePublished}</f:format.date></span>
							</f:if>
						</div>
						<i>{content.lead -> f:format.raw()}</i>
						{content.main -> f:format.raw()}
						<hr/>
						<f:for each="{taxonomies}" as="taxonomy">
							<neos:link.node node="{taxonomy}" class="btn btn-default">{taxonomy.properties.title}</neos:link.node></li>&nbsp;
						</f:for>
					</div>
				</div>
			</div>
		</div>
    </f:section>
</body>
</html>
